# Series & DataFrame Data Types

> There are two main data types in pandas that we will use in data science. 
> - DataFrame 
> - Series

For the most thorough review of Pandas and Numpy, I suggest you buy and read Wes McKinney's [Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do). In due time I will have a separate module covering the most commonly used Python libraries for data science.

## Series

Series is probably the simplest data type in data science. It can be thought of as a single columned data type that has many rows of data. Visually it looks tall and skinny.

In [2]:
# Pay close attention to all of the modules that you need to import to follow everything.
# Note that the aliases I will use for imports are unanimously recognized by the community. 

import pandas as pd 
import numpy as np
from pandas import Series, DataFrame

If you're curious we can also observe what versions of each package we have by calling the __version__.

In [3]:
pd.__version__ # we are uisng 0.19.2 of Pandas

u'0.19.2'

In [4]:
ser1 = Series([1,2,3,4],index=['a','b','c','d'], name='our first Series') 
ser1

a    1
b    2
c    3
d    4
Name: our first Series, dtype: int64

In [5]:
ser1.index # display the index

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [6]:
ser1.values # display the values

array([1, 2, 3, 4])

### Select value by corresponding non-numeric index or numeric index

In [7]:
ser1['a'] # non-numeric index

1

In [8]:
ser1[0] # numerical index / note that index starts at 0

1

In [9]:
ser1.iloc[0] # iloc accepts a numeric index (think of the i in iloc as standing for integer)

1

In [10]:
ser1.loc['a'] # loc is to specify we want value given non-numerical index

1

In [11]:
ser1.ix[0] # ix is general purpose / can take both numeric and non-numeric index

1

In [12]:
ser1.ix['a'] # as mentioned ix can also take non-numeric index

1

## DataFrame

DataFrames can intuitively be thought of as many Series stacked horizontally. Hence a DataFrame will have multiple columns which warrant column names. Similar to Series, a DataFrame will have an index that can help us identify rows of data that are of interest to us.

In [13]:
arr1 = np.array([[1,2,3],[4,5,6]])
rownames = ['row1','row2']
colnames = ['col1','col2','col3']
mydataframe = DataFrame(arr1,index=rownames,columns=colnames)
mydataframe

      col1  col2  col3
row1     1     2     3
row2     4     5     6

### Select Values by Column

In [14]:
mydataframe['col1'] # specify the column name with brackets

row1    1
row2    4
Name: col1, dtype: int64

In [15]:
mydataframe.col1 # this is also a working syntax

row1    1
row2    4
Name: col1, dtype: int64

### Select Values by Row

For selecting DataFrame values by row think about how we searched values by index for Series: loc, iloc and ix.

In [16]:
mydataframe.loc['row1'] # loc takes in non-numerical index label

col1    1
col2    2
col3    3
Name: row1, dtype: int64

In [17]:
mydataframe.iloc[0] # iloc takes in numerical index label

col1    1
col2    2
col3    3
Name: row1, dtype: int64

In [18]:
mydataframe.ix['row1'] # ix can take in either numerical and non-numerical index

col1    1
col2    2
col3    3
Name: row1, dtype: int64

In [19]:
mydataframe.ix[0] # ix can take in either numerical and non-numerical index

col1    1
col2    2
col3    3
Name: row1, dtype: int64

Note that the relationship between a DataFrame and a Series is intimate. The object returned by selecting a column or a row is a Series. In fact a DataFrame is just many Series stacked together.

Let's check using the type method which returns the type of the object.

In [20]:
type(mydataframe)

pandas.core.frame.DataFrame

In [21]:
mydataframe['col1'] # select a column of the DataFrame

row1    1
row2    4
Name: col1, dtype: int64

In [22]:
type(mydataframe['col1'])

pandas.core.series.Series

We're going to be seeing Series and DataFrames all the time in data science. Familiarity with different data types and their methods are going to be important moving forward.

# We're Done!

This tutorial closely follows my Medium blog [@dhexonian](http://medium.com/@dhexonian).

If you have any questions or requests please Tweet those to me, also [@dhexonian](https://twitter.com/dhexonian)