# Correctly Reading a CSV File

>When the data fairy gives you a csv file, take it with caution.  

>Ask yourself the following questions below...

- Does the file have a header (column names)? 
- Does the file have an index column? 
- Does the file have comments?
- Does the file have any privacy restrictions?
- What kind of delimiter separates row entries?

Here we will take the simple case of a data file without headers.

In [11]:
import pandas as pd 
import numpy as np
from pandas import Series, DataFrame

We will use a publicly available dataset. The primary source is available [here](http://dx.doi.org/10.1016/j.jbusres.2016.02.010). 



   (Moro et al., 2016) S. Moro, P. Rita and B. Vala. Predicting social media performance metrics and evaluation 
   of the impact on brand building: A data mining approach. Journal of Business Research, Elsevier, In press.

Before doing anything with a dataset, I read about the dataset like where it came from and why people collected it in the first place. There is a file called Facebook_metrics.txt that came with the dataset. Let's read about it.

## Reading the supporting text

Previously in our Jupyter Notebook lesson, we noted that Jupyter Notebook allows for us to run terminal commands by preceding the command with the bang(!) sign. The specific terminal command dependns on your operating system.

In [12]:
!cat ./data_files/Facebook_metrics.txt # use cat to output the file content

Great, that cleared up some of the confusion.

In [13]:
file_path = './data_files/dataset_Facebook.csv'

Usually what I like to do afterwards is finding out the file size to see if I can open and store the file in memory. The $ sign is there to ensure that our local variable, file_path, is passed on to the terminal.

In [14]:
!ls -l $file_path # it's 37 kilobytes so we're good to read in the file

-rwxr-xr-x@ 1 dhexonian  staff  37891 Feb 15  2016 ./data_files/dataset_Facebook.csv

I also like to read in the first few lines of the file to get a preview of how many columns there are and how the data is delimited.

In [15]:
!head -2 $file_path # read the first few lines of the file

### Two Observations 

- It looks like this file's first row are column names and the data starts from the second row.
- The data looks to be semi-colon delimited. 
- The data looks clean. There doesn't seem to be any supporting comments written in the data that we have to remove.

### Reading the File

> Disclaimer: I think it's important to learn the different ways to read and write csv files, but as a recommendation learning the Pandas way is much more cleaner and predictable.

Pandas has a read_csv method that requires at a minimum the file path. Other arguments/parameters such as column names can be specified just as we specified the delimiter here. Note that because column names are the first row of the data, we don't have to specify column names as an argument to the read_csv method.

In [16]:
df = pd.read_csv(file_path, delimiter=';') # specify the delimiter as a semi-colon

Now that we've read in the data, we can finally display the DataFrame. Remember there are two data types we will primarily be working with? The DataFrame is appropriate to represent the data because there are multiple columns.

### Previewing the data

There are three methods we can use to do this: head, tail and sample.

In [17]:
df.head(5) # return the first five rows of the DataFrame via head method

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [18]:
df.tail(5) # return the last five rows of the DataFrame via tail method

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [19]:
df.sample(5) # return five random rows via sample method

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
117,136642,Photo,1,10,7,11,0.0,729,1374,303,298,331,1284,650,262,0,7.0,0.0,7
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
90,137059,Photo,1,11,2,3,0.0,24720,37240,845,564,850,14475,8120,504,13,331.0,77.0,421
293,125612,Photo,2,6,3,3,0.0,3322,5969,610,569,852,4111,2236,375,1,71.0,23.0,95
398,107907,Photo,3,4,5,3,0.0,3824,6333,666,627,822,4447,2604,462,1,71.0,18.0,90

head, tail and sample take integer arguments which denote how many rows to return

### Shape of the DataFrame

Dimensionality as well find out later is incredibly important to data science problems. Use the Pandas method shape.

In [20]:
df.shape # return dimensions (row x column) of the DataFrame via shape method

(500, 19)

In [21]:
df.columns # return column names via columns method

Index([u'Page total likes', u'Type', u'Category', u'Post Month',
       u'Post Weekday', u'Post Hour', u'Paid', u'Lifetime Post Total Reach',
       u'Lifetime Post Total Impressions', u'Lifetime Engaged Users',
       u'Lifetime Post Consumers', u'Lifetime Post Consumptions',
       u'Lifetime Post Impressions by people who have liked your Page',
       u'Lifetime Post reach by people who like your Page',
       u'Lifetime People who have liked your Page and engaged with your post',
       u'comment', u'like', u'share', u'Total Interactions'],
      dtype='object')

The indices can be thought of as the very first column in a DataFrame. They help label what each row is so we can later quickly retrieve a row by its index.

In [22]:
df.index # return all of the indices via index method

RangeIndex(start=0, stop=500, step=1)

The len method returns the length of the whatever object we pass on as the argument.

In [23]:
print len(df.index) # by the way we can do a sanity check that df.shape is outputting the correct number of columns and rows
print len(df.columns)

500
19

We love DataFrames because they are visually appealing and organized, but we can also convert them into an array of arrays (list of lists) via the values method. Note that if we care about the index of the DataFrame, then we are losing critical information with the values method.

In [24]:
df.values # return the DataFrame as an array of array

array([[139441, 'Photo', 2, ..., 79.0, 17.0, 100],
       [139441, 'Status', 2, ..., 130.0, 29.0, 164],
       [139441, 'Photo', 3, ..., 66.0, 14.0, 80],
       ...,
       [81370, 'Photo', 1, ..., 93.0, 18.0, 115],
       [81370, 'Photo', 3, ..., 91.0, 38.0, 136],
       [81370, 'Photo', 2, ..., 91.0, 28.0, 119]], dtype=object)

Note that null values can exist where data is missing. We need a way of quantizing quickly how much information is missing in every column.

### Holistic View

The info method returns the count and data type of each column.

In [25]:
df.info() # return number of non-null values and data type of each column via info() method

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
Page total likes                                                       500 non-null int64
Type                                                                   500 non-null object
Category                                                               500 non-null int64
Post Month                                                             500 non-null int64
Post Weekday                                                           500 non-null int64
Post Hour                                                              500 non-null int64
Paid                                                                   499 non-null float64
Lifetime Post Total Reach                                              500 non-null int64
Lifetime Post Total Impressions                                        500 non-null int64
Lifetime Engaged Users                                                 500 non-null int64
Lifetime Post Consumers                                                500 non-null int64
Lifetime Post Consumptions                                             500 non-null int64
Lifetime Post Impressions by people who have liked your Page           500 non-null int64
Lifetime Post reach by people who like your Page                       500 non-null int64
Lifetime People who have liked your Page and engaged with your post    500 non-null int64
comment                                                                500 non-null int64
like                                                                   499 non-null float64
share                                                                  496 non-null float64
Total Interactions                                                     500 non-null int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

It looks like some columns are integers, some are floats (decimals) and some are objects like the Type column. We'll see what those mean becaus the term "object" is unclear.

Describe method returns a holistic picture of our data including mean, median, count and percentile information of each column.

In [74]:
df.describe() # return aggregate statistics via describe() method

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

# We're Done!

This tutorial closely follows my Medium blog [@dhexonian](http://medium.com/@dhexonian).

If you have any questions or requests please Tweet those to me, also [@dhexonian](https://twitter.com/dhexonian)